<section class="property-binding">
    <!--<article>
        <h3>Interpolation / Intepolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p> o resultado de 1 + 1 é : {{ 1 + 1}}</p>
        <p> o resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
        <p> eu gosto do curso de Angular e do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>
    
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
    </article>-->

    <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma Classe
        </div>
    </article>
</section>