
<app-diretivas-customizadas></app-diretivas-customizadas>


<!--app-exemplo-ngcontent>
    Conteudo passado para o componente
    <app-operador-elvis></app-operador-elvis>
</app-exemplo-ngcontent>

<app-exemplo-ngcontent>
    <div class="titulo">Titulo do conteudo</div>
    <div class="corpo"> 
        Conteudo passado para o componente
    </div>
</app-exemplo-ngcontent-->
<!--app-operador-elvis></app-operador-elvis-->
<!--app-diretiva-ngclass></app-diretiva-ngclass>-->
<!--app-diretiva-ngstyle></app-diretiva-ngstyle>-->

<router-outlet></router-outlet>
